Body{background-color: #D8B1FE;}

.a{text-align: center;

}

.cor-de-fundo2{ background-color: #D697E8 ;

}
.cor-de-fundo3{ background-color: #F57DF8;}

.margem{ margin: 80px;}

.borda{ border: 20px solid #e23ccf;}

a{ text-decoration: none;}